<div class="padded padded--very_thick border_bottom text_center">
	<h1 class="h1--massive">{{collection.title}}</h1>
	{% if collection.description %}{{collection.description}}{% endif %}
</div>
{% include 'collection' %}
