
<div class="padded highlight_back hide_on_tablet_portrait" style="background-image:url('https://fg-a.com/christmas/4-snowmen-animated.gif');">
	{% include 'icon-logo', w: '100%', h: '30vh' %}
</div>

{{ content_for_index }}


{% section 'upcoming' %}