
<article class="padded padded--thick padded--underheader">
  <div class="grid grid--center">
    <div class="col col--7of12 col--tablet_landscape--9of12 col--tablet_portrait--10of12 col--phone--12of12">
      <h1>{{page.title}}</h1>
      {{page.content}}
    </div>
  </div>
</article>