

<section class="newsletter" data-section-id="{{ section.id }}" data-section-type="newsletter-section" id="countries" data-country="US">
	<div class="newsletter__container">

		<a href="#" class="newsletter__close" data-hide>✕</a>

		<div class="grid grid--middle grid--spaced_around max_width">
			<div class="col col--9of12 col--phone--12of12">
				<div class="medium text_center normal_bottom">{{section.settings.body}}</div>
			</div>
			<div class="col col--9of12 col--phone--12of12">
				<div class="normal_bottom"><a href="https://ca.easylover.club" class="button button--full button--tight button--black">🇨🇦 Canada</a></div>
        <div class=""><a href="https://easylover.com" class="button button--full button--tight button--black">🇺🇸 U.S. or International</a></div>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
  "name": "Country Selector",
  "settings": [
    {
      "id": "disabled",
      "type": "checkbox",
      "label": "Is disabled?",
      "default": false
    },
    {
      "id": "body",
      "type": "richtext",
      "label": "Text",
      "default": "<p>In which country are you located?</p>"
    }
  ]
}
{% endschema %}