
<footer class="footer" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="grid grid--spaced">
    <div>
      © Easy Lover Club 2018
    </div>
    <div class="col col--tablet_portrait--12of12">
      {% for link in linklists["footer"].links %}
      <a href="{{ link.url }}" class="nav__link">{{link.title}}</a>
      {% endfor %}
    </div>
  </div>
</footer>



{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "link_list",
      "id": "footer_links",
      "label": "Footer links",
      "default": "footer"
    }
  ]
}
{% endschema %}
