


{% assign id = section.id %}
{% assign blog = blogs[section.settings.lookbook] %}


<section class="padded highlight_back" data-section-id="{{ section.id }}" data-section-type="featured-lookbook">
  {% include 'lookbook' %}
</section>



{% schema %}
{
  "name": "Featured Lookbook",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "Look"
    },
    {
      "id": "lookbook",
      "type": "blog",
      "label": "Lookbook"
    },
    {
      "id": "subtitle",
      "type": "text",
      "label": "Sub-title",
      "default": "The Moving Collection"
    },
    {
      "id": "description",
      "type": "richtext",
      "label": "Description",
      "default": "<p>It’s time to move on. SEO text about tshirts for women and men about fashion, streetwear, young love… You get the point. Add free shipping.</p><p>Follow our journey on <a href='https://www.instagram.com/easyloverclub/'>Instagram</a> :)</p>"
    }
  ],
  "presets": [
    {
      "name": "Featured Lookbook",
      "category": "Content"
    }
  ]
}
{% endschema %}