


{% assign id = section.id %}
{% assign collection = collections[section.settings.collection] %}

<section data-section-id="{{ section.id }}" data-section-type="featured-collection">
  {% include 'collection', title: section.settings.title %}
</section>


{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "Shop"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection",
      "category": "Products"
    }
  ]
}
{% endschema %}