<section>
	{% for block in section.blocks %}
  <div class="padded padded--thick text_center"><h2>{{block.settings.title}}</h2></div>
	{% assign blog = blogs[block.settings.blog] %}
	{% include 'lookbook' %}
	{% endfor %}
</section>


{% schema %}
{
  "name": "Lookbooks",
  "settings": [
  ],
  "blocks": [
    {
      "type": "blog",
      "name": "Blog",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title"
        },
        {
          "id": "blog",
          "type": "blog",
          "label": "Blog"
        }
      ]
    }
  ]
}
{% endschema %}