

<div class="grid grid--stretch border_bottom">
  <div class="col col--3of12 col--tablet_portrait--4of12 col--phone--6of12 grid grid--center grid--middle dark_back image_back relative">
    {% include 'picture', image: collection.image.src, class: 'img--back' %}
    {% if request.path != collection.url %}<a href="{{collection.url}}">{% endif %}
    <h2 class="text_center ztop">{% if title %}{{title}}{% else %}{{collection.title}}{% endif %}</h2>
    {% if request.path != collection.url %}</a>{% endif %}
    <div></div>
  </div>
  
  {% for product in collection.products %}
  {% include 'collection_product' %}
  {% endfor %}
</div>

