<div class="col col--3of12 col--tablet_portrait--4of12 col--phone--6of12 padded padded--tight">
  <a href="{{product.url | within: collection }}" class="product{% unless product.available  %} product--soldout{% endunless %}">
    {% comment %} {% unless product.available  %}<div class="button button--circle">Sold Out</div>{% endunless %} {% endcomment %}
    <div class="text_right">{% if product.available %}{% include 'price' %}{% else %}Sold Out{% endif %}</div>
    <div class="product__images">
      {% for image in product.images limit: 2 %}
      {% include 'picture', image: image %}
      {% endfor %}
    </div>
    <p class="text_center p--small">{{product.title}}</p>
  </a>
</div>