<section data-section-id="{{id}}" class="padded padded--thick">
	<div class="grid {% if left_or_right == 'right' %}grid--right{% endif %}">
		<div class="col col--6of12 col--phone--12of12 text_center">

			<div class="big medium_bottom">{{body}}</div>

			{% if button_link %}<a href="{{button_link}}" class="a--with_arrow">{{button_text}} <svg class="icon"><use xlink:href="#icon-right"></use></svg></a>{% endif %}
			
		</div>
	</div>
</section>