


@font-face {
  font-family: 'HK Grotesk Pro';
  src:  url('HKGroteskPro-Regular.woff2') format('woff2'),
        url('HKGroteskPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk Pro';
  src:  url('HKGroteskPro-SemiBold.woff2') format('woff2'),
        url('HKGroteskPro-SemiBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk Pro';
  src:  url('HKGroteskPro-Bold.woff2') format('woff2'),
        url('HKGroteskPro-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk Pro';
  src:  url('HKGroteskPro-Black.woff2') format('woff2'),
        url('HKGroteskPro-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Street';
  src: url('Street.eot');
  src: url('Street.eot?#iefix') format('embedded-opentype'),
    url('Street.woff') format('woff'),
    url('Street.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fun';
  src: url('Fun.eot');
  src: url('Fun.eot?#iefix') format('embedded-opentype'),
    url('Fun.woff') format('woff'),
    url('Fun.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Classy';
  src: url('Classy.eot');
  src: url('Classy.eot?#iefix') format('embedded-opentype'),
    url('Classy.woff') format('woff'),
    url('Classy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}