

// #COLORS

$white: #fff;
$black: #000000;
$black--light: #595959;
$blue: #2B2C7A;
$blue--light: #82B2DB;
$grey: #999999;
$grey--light: #F2F2F2;
$red: #CB2B2B;
$pink: #FFA7A7;
$yellow: #F1BB57;
$green: #14AF6E;

$body_color: $black;
$headings_color: inherit;
$highlight: $pink;
$light_background: $blue--light;
$dark_background: $black;
$alert_color: $red;


// #FONTS

$body_font: "HK Grotesk Pro", sans-serif;
$headings_font: "HK Grotesk Pro", sans-serif;
$alternate_font: "Space Mono", monospace;


// #LAYOUT

$base: 18;
$base_size: $base * 1px;
$giant_size: (176/$base) * 1rem;
$massive_size: (86/$base) * 1rem;
$huge_size: (48/$base) * 1rem;
$big_size: (28/$base) * 1rem;
$medium_size: (24/$base) * 1rem;
$slight_size: (22/$base) * 1rem;
$small_size: (16/$base) * 1rem;
$tiny_size: (12/$base) * 1rem;

$vertical_rythm: 1rem;
$line_height: 1.333;
$max_width: 1400px;
$letter_spacing: 0;
$border_radius: 0;

$number_of_columns: 12;
$gutter: (24/$base) * 1rem;


// #ANIMATIONS

$fast: 0.666s;
$slow: 0.999s;
$very_slow: 1.666s;


// #BREAKPOINTS

$phone: "all and (max-device-width:600px), all and (max-width:600px)";
$tablet_portrait: "all and (max-device-width:900px), all and (max-width:900px)";
$tablet_landscape: "all and (max-device-width:1200px), all and (max-width:1200px)";
$big_desktop: "all and (min-device-width:1800px), all and (min-width:1800px)";
$breakpoints: "big_desktop" $big_desktop, "tablet_landscape" $tablet_landscape, "tablet_portrait" $tablet_portrait, "phone" $phone;

