// #ALERTS

.alert {
	color: $black;
	text-align: center;
	background: $white;

	padding: $vertical_rythm/4 $vertical_rythm/2;
	border: none;

	&:empty {
		display: none;
	}

	a:hover,
	a:focus {
		border-bottom: 2px solid;
	}
}