

*, *:before, *:after {
	box-sizing: border-box;
}


.shopify-preview-bar,
#preview-bar-iframe {
	display: none !important;
}



// #BODY

html {
	padding: 0 !important;
	overflow-x: hidden;
}

body {
	position: relative;
	min-height: 100vh;
}

.noscroll {
  position: fixed;
  top: 0;
  left: 0;
}

// #HEADER

header {
	
}


// #MAIN

.main {
	padding-top: 3.8rem;
	min-height: 80vh;
	// position: relative;
	// // max-width: $max_width;
	// // margin: 0 auto;

	// @media #{$phone} {
	// 	// padding-top: 0;
	// }
}


// #FOOTER

footer {
	
}



// #MIXINS

.max_width { 
	max-width: $max_width/2;
	margin-left: auto;
	margin-right: auto;
}

.padded {
	padding: $gutter;

	&.padded--tight {
		padding: $gutter/1.5;
	}

	&.padded--thick {
		padding: $gutter*3;

		@media #{$tablet_portrait} {
			padding: $gutter*2;
		}

		@media #{$phone} {
			padding: $gutter;
		}
	}

	&.padded--very_thick {
		padding: $gutter*8 $gutter*3;

		@media #{$tablet_portrait} {
			padding: $gutter*6 $gutter*2;
		}

		@media #{$phone} {
			padding: $gutter*2 $gutter;
		}
	}

	&.padded--small_bottom {
		padding-bottom: $gutter/2;
	}
}

.huge_bottom { 
	margin-bottom: $vertical_rythm*8;
}

.big_bottom { margin-bottom: $vertical_rythm*4; }
.medium_bottom { margin-bottom: $vertical_rythm*2; }
.normal_bottom { margin-bottom: $vertical_rythm; }
.small_bottom { margin-bottom: $vertical_rythm/4; }
.flat_bottom { margin-bottom: 0 !important; }
.flat_top { margin-top: 0 !important; }
.normal_top { margin-top: $vertical_rythm; }
.medium_top { margin-top: $vertical_rythm*2; }
.nav_top {margin-top: $vertical_rythm*3.75;} //60px

.bordered { border: 1px solid $grey--light; }
.border_left { border-left: 1px solid $highlight; }
.border_right { border-right: 1px solid $highlight; }
.border_bottom { border-bottom: 1px solid $black; }

.relative { position: relative; }
.ztop { z-index: 2; }
.hide { display: none !important; }
.invisible { visibility: hidden; }
.inline_block { display: inline-block; }
.text_center { text-align: center; }
.text_right { text-align: right; }
.text_left { text-align: left; }


