

// #SLIDERS





.slider,
[data-product-images].flickity-enabled {
  position: relative;
  display: none;

  &.flickity-enabled {
    display: block;
  }
  
  img {
    height: 50vh;
    width: auto;
    max-width: 80vw;
    object-fit: cover;
  }
}

  .flickity-viewport {
    overflow: visible;
  }

  .slide {
    padding: $gutter/2;
  }

  .flickity-page-dots {
    bottom: $vertical_rythm*2;

    .dot {
      background: $white;
      opacity: 1;

      &.is-selected {
        background: $highlight;
      }
    }
  }






