
// #FOOTER
.footer {
	// position: fixed;
	// bottom: 0;
	// left: 0;
	// width: 100%;
	// z-index: 10;

	// padding-bottom: $gutter*2;
	// pointer-events: none;

	// a {
	// 	pointer-events: auto;
	// }

	// @media #{$phone} {
	// 	position: relative;
		
	// 	color: $highlight;
	// 	padding-bottom: $gutter;
	// }
}

	.footer__shirt,
	.footer__products {
		position: absolute;
		right: 0;
		bottom: 0;

		width: (400/$base) * 1rem;
	}

	.footer__products {
		text-align: center;
		bottom: $gutter*6;

		.button {
			margin: 0 auto;
		}
	}