

// #HEADER

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	background-color: $white;
	box-shadow: 0 2px 20px 0 fade-out($grey--light, 0.5);
	pointer-events: none;

	a {
		pointer-events: auto;
	}
}

	.header__logotype {
		margin: 0 auto;
		width: 100%;
		max-width: (266/$base) * 1rem;

		@media #{$phone} {
			max-width: (42/$base) * 1rem;	
		}
	}

	.header__alert {
		position: fixed;
		left: 0;
		top: 0;

		width: 100%;
	}

	
