

// #HEADER

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;

	background-color: transparent;
	pointer-events: none;

	a {
		pointer-events: auto;
	}
}

	.header__logotype {
		margin: 0 auto;
		width: 100%;

		@media #{$phone} {
			max-width: (42/$base) * 1rem;	
		}
	}

	.header__alert {
		position: fixed;
		left: 0;
		top: 0;

		width: 100%;
	}

	
