

// #NAV

nav {
	
}

	.nav__link {
		font-family: $headings_font;
		font-weight: 400;
		color: $black;

		& + & {
			margin-left: $vertical_rythm;

			@media #{$phone} {
				margin-left: $vertical_rythm/2;
			}
		}

		@media #{$phone} {
			font-size: $slight_size;
		}

		&.nav__link--line {
			display: block;
			line-height: (24/$base);
		}

		&.nav__link--active {
			border-bottom: 2px solid;
		}
	}

	a.nav__link:hover,
	a.nav__link:focus {
		border-bottom: 2px solid;
	}


