

// #PRODUCT

.product {
	position: relative;
	display: inline-block;

	&.product--custom {
		overflow-x: hidden;	
	}

	&.product--soldout {

		img {
			opacity: 0.33;
		}

		.button--circle {
			position: absolute;
			top: -$vertical_rythm/2;
			right: -$vertical_rythm/2;
			z-index: 1;

			font-size: $small_size;
			line-height: 1;

			width: (60/$base) * 1rem;
			height: (60/$base) * 1rem;

			background: $grey;
		}
	}
	

	&.product--Classy [name="name"] {
		font-family: "Classy";
	}

	&.product--Fun [name="name"] {
		font-family: "Fun";
	}

	&.product--Street [name="name"] {
		font-family: "Street";
	}

	&.product--black-white [name="name"] {
		color: $black;
	}

	&.product--red-white [name="name"] {
		color: $red;
	}

	&.product--white-black [name="name"] {
		color: $white;
	}
}
	
	.product__back {

		.product--custom & {
			position: fixed;
			left: 0;
			top: $gutter*3;
			width: 100%;

			@media #{$tablet_portrait} {
				top: $gutter*4;
			}

			@media #{$phone} {
				left: -25%;
				width: 150%;
			}
		}

		@media #{$phone} {
			position: fixed;
		}
	}

	// .product__info {
	// 	position: fixed;
	// 	bottom: $gutter;
	// 	left: 0;
	// 	width: 100%;

	// 	color: $grey;
	// }

	.product__form {
		position: fixed;

		bottom: $gutter*2;
		right: $gutter*2;

		@media #{$tablet_portrait} {
			bottom: $gutter;
			right: $gutter;
		}

		@media #{$phone} {
			position: relative;
			bottom: 0;
			left: 0;

			max-width: 100%;
			padding-top: $gutter*12;
			padding-bottom: $gutter*2;
		}
	}

		.product__shirt_fieldset {
			position: fixed;
			top: 30vw;
			left: 25vw;
			right: 25vw;
			z-index: 0;

			background: transparent;

			[name="name"] {
				color: $white;
				font-size: 7.5vw;
				font-family: "Street";
				font-weight: normal;
			}

			@media #{$tablet_portrait} {
				top: 35vw;
			}

			@media #{$phone} {
				top: 60vw;
				left: 15vw;
				right: 15vw;

				[name="name"] {
					font-size: 8.5vw;
				}
			}
		}
