

// #PRODUCT

.product {
	position: relative;
	display: inline-block;
	width: 100%;

	&.product--soldout {

		img {
			opacity: 0.33;
		}

		// .button--circle {
		// 	position: absolute;
		// 	top: -$vertical_rythm/2;
		// 	right: -$vertical_rythm/2;
		// 	z-index: 1;

		// 	font-size: $small_size;
		// 	line-height: 1;

		// 	width: (60/$base) * 1rem;
		// 	height: (60/$base) * 1rem;

		// 	background: $grey;
		// }
	}
}

	.product__images {
		position: relative;
		margin-bottom: $vertical_rythm;

		picture:nth-child(2) {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;

	    opacity: 0;

	    @media #{$phone} {
	    	display: none;
	    }
	  }

  	a:hover &,
    a:focus & {

      picture:nth-child(2) {
        opacity: 1;
      }
    }
	}

	.product__form {
		// position: fixed;
		// bottom: 0;
		// left: 50%;
		// width: 50%;
		// background: $white;

		// @media #{$tablet_portrait} {
		// 	left: 0;
		// 	width: 100%;
		// 	max-width: none;
		// }
	}


	.product__custom_text {
		position: absolute;
		top: 30%;
		left: 0;
		width: 100%;
		z-index: 2;

		text-align: center;
		color: $white;
		font-size: 3rem;
		font-family: "Street";
		font-weight: normal;

		@media #{$phone} {
			font-size: 2rem;
		}

		.product--Pocket & {
			top: 27.5%;
			left: 46.5%;
			width: 27.5%;
			font-size: 1.5rem;

			@media #{$phone} {
				font-size: 1rem;
			}
		}

		.product--Classy & {
			font-family: "Classy";
		}
	
		.product--Fun & {
			font-family: "Fun";
		}
	
		.product--Street & {
			font-family: "Street";
		}
	
		.product--black-white & {
			color: $black;
		}
	
		.product--red-white & {
			color: $red;
		}
	
		.product--white-black & {
			color: $white;
		}
	}
	
