

// #PRODUCT

.product {
	position: relative;
	display: inline-block;
	width: 100%;

	&.product--soldout {

		img {
			opacity: 0.33;
		}

		.button--circle {
			position: absolute;
			top: -$vertical_rythm/2;
			right: -$vertical_rythm/2;
			z-index: 1;

			font-size: $small_size;
			line-height: 1;

			width: (60/$base) * 1rem;
			height: (60/$base) * 1rem;

			background: $grey;
		}
	}
	

	&.product--Classy .product__custom_text {
		font-family: "Classy";
	}

	&.product--Fun .product__custom_text {
		font-family: "Fun";
	}

	&.product--Street .product__custom_text {
		font-family: "Street";
	}

	&.product--black-white .product__custom_text {
		color: $black;
	}

	&.product--red-white .product__custom_text {
		color: $red;
	}

	&.product--white-black .product__custom_text {
		color: $white;
	}
}

	.product__form {
		position: fixed;
		bottom: 0;
		left: 50%;
		width: 50%;
		background: $white;

		@media #{$tablet_portrait} {
			left: 0;
			width: 100%;
			max-width: none;
		}
	}

	.product__custom_text {
		position: absolute;
		top: 30%;
		left: 0;
		width: 100%;
		z-index: 2;

		text-align: center;
		color: $white;
		font-size: 3rem;
		font-family: "Street";
		font-weight: normal;

		@media #{$phone} {
			font-size: 2rem;
		}

		.product--Pocket & {
			top: 27.5%;
			left: 46.5%;
			width: 27.5%;
			font-size: 1.5rem;

			@media #{$phone} {
				font-size: 1rem;
			}
		}
	}
	
